.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  $breakpoint-tablet: 768px;
  @media (min-width: $breakpoint-tablet) {
    .example-container{
        width: 400px;
    }
  }

  @media (max-width: 599px){
    .mat-card{
      width: 395px !important;
    }

    .mat-card-title{
      font-size: 30px !important;
    }

    :host input.mat-input-element {
      font-size: 32px;
   }
  }

  .card-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-card{
    width: 100%;
  }

  .mat-card-title{
    font-size: 36px;
  }

  :host input.mat-input-element {
    font-size: 28px;
 }