
<div class="container" style="margin-top: 50px;">
  <div class="alert alert-success" *ngIf="successMessage">
    {{successMessage}}
  </div>
</div>
<div class="card-container">
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <mat-card>
      <mat-card-title>
        Sign Up
      </mat-card-title>
      <div class="alert alert-warning" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <mat-card-content class="example-container">
        <mat-form-field>
          <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
          <mat-error *ngIf="f.submitted && !username.valid">username is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
          <mat-error *ngIf="f.submitted && !email.valid">email is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required
            maxlength="10" minlength="6">
          <mat-error *ngIf="f.submitted && !password.valid">password is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-spinner *ngIf="loading" color="accent" value="80" mode="determinate" diameter="30"></mat-spinner>
        <button mat-raised-button color="accent" [disabled]="loading">Register</button>
        <button mat-raised-button color="accent" [routerLink]="['/login']" [disabled]="loading">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>