<!-- <mat-card>
    <mat-card-header>
        <div class="col-md-12">
            <h4>Photos <button class="float-sm-right" mat-raised-button >Upload Photo</button></h4>
        </div>
    </mat-card-header>
    <div>
            <mat-grid-list cols="5" rowHeight="450px;" gutterSize="16px">
                <mat-grid-tile *ngFor="let photo of photos">
                        <mat-card class="example-card mat-elevation-z4">
                        <mat-card-title>
                            <span>{{photo.name}}</span>
                        </mat-card-title>
                        <img mat-card-image [src]="photo.secureUrl" [title]="photo.name" [alt]="photo.name" class="img-thumbnail">
                        </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
    </div>
</mat-card> -->
<mat-card>
    <mat-card-header>
            <app-upload [albumId]="albumId" (notify)="receiveMessage($event)"></app-upload>
    </mat-card-header>
    <mat-card-content>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </mat-card-content>
</mat-card>



