<mat-card style="margin-bottom:5px;">
  <div *ngIf="errorMessage" class="alert alert-warning">
    {{errorMessage}}
  </div>
  <mat-toolbar style="background-color:white;">
    <mat-toolbar-row>
      <span>Albums</span>
      <span class="example-spacer"></span>
      <mat-form-field color="accent" class="searchInput">
        <input matInput placeholder="search" [(ngModel)]="searchText" name="searchText" type="text" maxlength="15">
        <mat-icon matSuffix style="font-size:22px;">search</mat-icon>
      </mat-form-field>
      <button mat-raised-button (click)="openDialog()">New Album</button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>
<mat-card>
  <div fxLayout="row" fxLayoutWrap fxLayoutGap="5rem" fxLayoutAlign="center" *ngIf="show">
    <mat-grid-list [cols]="cols | async" rowHeight="380px;">
      <mat-grid-tile *ngFor="let album of albums | searchByName: searchText">
        <mat-card class="example-card mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{album.name}}</mat-card-title>
            <mat-card-subtitle>
              <b>{{album.createdBy}}</b> |
              <i>{{album.addedOn | date}}</i>
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image *ngIf="album.coverImage != undefined" [src]="album.coverImage" [alt]="album.name"  />
          <img mat-card-image *ngIf="album.coverImage == undefined" [src]="defaultImg" alt="NoImage">
          <div mat-card-avatar class="material-icons mat-o-icon">photo_album</div>
          <mat-card-actions>
            <!-- <mat-icon color="accent" aria-label="likes" (click)="onLike(album)">favorite</mat-icon> -->
            <!-- <mat-icon class="float-sm-right" aria-label="share">share</mat-icon> -->
            <button class="float-left" mat-icon-button color="accent">
              <mat-icon aria-label="Pictures" (click)="onLike(album)">favorite</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="float-right">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" overlapTrigger="false" yPosition="below">
              <button mat-menu-item>
                <mat-icon>mode_edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item color="warn" (click)="deleteAlbum(album)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
            <button class="float-right" mat-icon-button color="primary">
              <small> {{album.imagesCount}} </small>
              <mat-icon aria-label="Pictures" (click)="onSelect(album)">photo_library</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="!show" class="text-center">
      <span>No albums found!</span>
    </div>
</mat-card>