mat-grid-tile {
    overflow: visible !important;
  }

  .example-card {
    max-width: 300px;
    min-width: 300px;
    border-radius: 12px !important;
  }

  .example-card:hover {
    top: -2px;
  }

.mat-o-icon{
    position: absolute;
    top: 120px;
    left: 10px;
    color: white;
}

button.mat-menu-item{
    font-size: 12px;

    mat-icon{
        font-size: 24px;
    }
}

mat-icon{
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
  }

//   .searchInput{
//       width:25%;
//       margin-right: 10px;
//   }

  .mat-card img{
    object-fit: fill; /*this makes de image in src fit to the size of specified below*/
    height: 180px;
  }

  @media (min-width: 576px){
    .card-section{
        margin-bottom: 10px;
    }  
    
    .mat-card img{
        object-fit: fill; /*this makes de image in src fit to the size of specified below*/
        height: 180px;
      }
}

// @media (max-width: 599px){
//     .example-card {
//         width: 400px !important;
//         border-radius: 12px !important;
//       }
    
//     .sm-center{
//         text-align: center !important;
//         width:100%;
//     }

//     .searchInput{
//         width:100%;
//         margin-right: 10px;
//     }
// }

@media (max-width: 599px){
    .button-wrapper-xs{
      margin-top: 15px;
      text-align: center !important
    }

    .mat-form-field{
        width:280px!important;
      }

      .titleHeader{
        margin-top: 5px;
        font-size: 28px;
      }
  }

  .button-wrapper-xs{
    margin-top: 15px;
  }

  .searchInput.mat-form-field{
    width:500px;
  }

  .titleHeader{
    margin-top: 15px;
    text-align: center !important;
    font-size: 28px;
  }

  .album-container{
      padding-left: 15px!important;
      padding-right: 15px!important;
  }


  .loading {
    position: absolute !important;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;

    
}

.album-container::before{
  opacity: 0.25;
}