mat-grid-tile {
    overflow: visible !important;
  }

  .example-card {
    max-width: 300px;
    min-width: 300px;
    border-radius: 12px !important;
  }

  .example-card:hover {
    top: -2px;
  }

.mat-o-icon{
    position: absolute;
    top: 120px;
    left: 10px;
    color: white;
}

button.mat-menu-item{
    font-size: 12px;

    mat-icon{
        font-size: 24px;
    }
}

mat-icon{
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .searchInput{
      width:25%;
      margin-right: 10px;
  }

  .mat-card img{
    object-fit: fill; /*this makes de image in src fit to the size of specified below*/
    height: 180px;
  }

  @media (min-width: 576px){
    .card-section{
        margin-bottom: 10px;
    }  
    
    .mat-card img{
        object-fit: fill; /*this makes de image in src fit to the size of specified below*/
        height: 180px;
      }
}

@media (max-width: 599px){
    .example-card {
        width: 400px !important;
        border-radius: 12px !important;
      }
}