mat-grid-tile {
    padding: 20px;
    overflow: visible !important;
  }

  .example-card {
    max-width: 300px;
    border-radius: 12px !important;
  }

  .example-card:hover {
    top: -2px;
  }

.mat-o-icon{
    position: absolute;
    top: 120px;
    left: 10px;
    color: white;
}

button.mat-menu-item{
    font-size: 12px;

    mat-icon{
        font-size: 24px;
    }
}

mat-icon{
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .searchInput{
      width:25%;
      margin-right: 10px;
  }