.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 265px;
  background: rgba(255, 0, 0, 0.5);
  height: auto;
}

.active{
  color: rgba(0, 0, 0, 0.87);
  border-bottom:1px solid #00bcd4; 
}

@media (max-width: 599px){
  .example-card {
      width: 400px !important;
      border-radius: 12px !important;
    }
}

.example-spacer {
  flex: 1 1 auto;
}

.container-fluid{
  padding: 20px!important;
}

.content {
  width: 200px;
  margin: auto auto;
}

.mat-list-item a{
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.05rem;
}


h3{
  letter-spacing: 0.4rem;
  color: white!important;
  opacity: 2;
}

mat-divider{
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  left: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}