.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 300px;
  background: rgba(255, 0, 0, 0.5);
}

.active{
  color: rgba(0, 0, 0, 0.87);
  border-bottom:5px solid #00bcd4; 
}

@media (max-width: 599px){
  .example-card {
      width: 400px !important;
      border-radius: 12px !important;
    }
}

.example-spacer {
  flex: 1 1 auto;
}

.container-fluid{
  padding: 20px!important;
}

.content {
  width: 200px;
  margin: auto auto;
}

.mat-list-item a{
  font-size: 24px;
  padding: 10px;
  letter-spacing: 0.3rem;
}


h3{
  letter-spacing: 0.4rem;
}


