<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav" mode="side" fixedInViewport="false" [opened]="isOpened">
        <mat-nav-list>
            <div class="text-center">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
                <h3>Albums</h3>
                <mat-divider></mat-divider>
            </div>
            <mat-list-item *ngFor="let album of albums" class="text-center">
                <a matLine (click)="onSelect(album.id)" [routerLink]="['album',album.id]" routerLinkActive="active">{{ album.name }}</a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="accent">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <span>{{albumName}}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="showthumbnails()">
                    <mat-icon>dashboard</mat-icon>
                </button>
        </mat-toolbar>
        <div style="padding:15px;">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="load" class="container-fluid">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>