<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="upload-widget">
      <form [formGroup]="form" class="form-inline">
          <!-- <mat-form-field color="accent">
            <input matInput placeholder="Name" type="text" formControlName="name">
          </mat-form-field>   -->
          <div>
            <input type="file" id="content" (change)="onFileChange($event)" #fileInput multiple="" accept="image/*">
          </div>
          <button mat-raised-button color="warn" (click)="clear()" *ngIf="!enableUploadButton">Clear</button>
          <button mat-raised-button color="accent" type="submit" [disabled]="enableUploadButton" (click)="onSubmit()">Upload</button>
      </form>
</div>

