<div class="container-fluid">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-title>
            <div mat-card-avatar class="material-icons">photo_library</div>
          Albums
        </mat-card-title>
        <mat-card-content>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn">View</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card>
            <mat-card-title>
                <div mat-card-avatar class="material-icons">photo_album</div>
              Gallery
            </mat-card-title>
            <mat-card-content>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                    nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn">View</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card>
            <mat-card-title>
                <div mat-card-avatar class="material-icons">photo_album</div>
              About
            </mat-card-title>
            <mat-card-content>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                    nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn">View</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
  <hr>
</div>